In [17]:
import pandas as pd
import numpy as nm
import math

file=pd.read_csv("75000-out2-binary.csv")
file.head()

,Transaction Number,Chocolate Cake,Lemon Cake,Casino Cake,Opera Cake,Strawberry Cake,Truffle Cake,Chocolate Eclair,Coffee Eclair,Vanilla Eclair,...,Lemon Lemonade,Raspberry Lemonade,Orange Juice,Green Tea,Bottled Water,Hot Coffee,Chocolate Coffee,Vanilla Frappuccino,Cherry Soda,Single Espresso
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,3,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
file.columns

Index(['Transaction Number', 'Chocolate Cake', 'Lemon Cake', 'Casino Cake',
       'Opera Cake', 'Strawberry Cake', 'Truffle Cake', 'Chocolate Eclair',
       'Coffee Eclair', 'Vanilla Eclair', 'Napoleon Cake', 'Almond Tart',
       'Apple Pie', 'Apple Tart', 'Apricot Tart', 'Berry Tart',
       'Blackberry Tart', 'Blueberry Tart', 'Chocolate Tart', 'Cherry Tart',
       'Lemon Tart', 'Pecan Tart', 'Ganache Cookie', 'Gongolais Cookie',
       'Raspberry Cookie', 'Lemon Cookie', 'Chocolate Meringue',
       'Vanilla Meringue', 'Marzipan Cookie', 'Tuile Cookie', 'Walnut Cookie',
       'Almond Croissant', 'Apple Croissant', 'Apricot Croissant',
       'Cheese Croissant', 'Chocolate Croissant', 'Apricot Danish',
       'Apple Danish', 'Almond Twist', 'Almond Bear', 'Blueberry Danish',
       'Lemon Lemonade', 'Raspberry Lemonade', 'Orange Juice', 'Green Tea',
       'Bottled Water', 'Hot Coffee', 'Chocolate Coffee',
       'Vanilla Frappuccino', 'Cherry Soda', 'Single Espresso'],
      dtype='object')

In [5]:
item1_name = 'Chocolate Cake'
item2_name = 'Chocolate Coffee'

selection = file[[item1_name,
                  item2_name]]
selection.head()

   Chocolate Cake  Chocolate Coffee
0               0                 0
1               0                 0
2               0                 0
3               0                 0
4               0                 0

In [6]:
item1_count = selection[item1_name] == 1
item2_count = selection[item2_name] == 1

In [7]:
item1_count.count()

75000

In [11]:
sel = selection.groupby([item1_count,item2_count]).count()
print(sel)

                                 Chocolate Cake  Chocolate Coffee
Chocolate Cake Chocolate Coffee
False          False                      65802             65802
               True                        2933              2933
True           False                       2962              2962
               True                        3303              3303

In [12]:
n00 = sel[item1_name][0][0]
n01 = sel[item1_name][0][1]
n10 = sel[item2_name][1][0]
n11 = sel[item2_name][1][1]

print(n00)
print(n01)
print(n10)
print(n11)

65802
2933
2962
3303

In [13]:
n1p = n11 + n10
np1 = n11 + n01
n0p = n01 + n00
np0 = n10 + n00

print(n1p)
print(np1)
print(n0p)
print(np0)

6265
6236
68735
68764

In [14]:
s1 = n11*n00
print(s1)

217344006

In [15]:
s2 = n10*n01
print(s2)

8687546

In [19]:
correlation_coefficient=(s1-s2)/(math.sqrt(n1p*np1*n0p*np0))
correlation_coefficient

0.48556649252787681

In [21]:
pd.crosstab(file['Chocolate Coffee'],file['Chocolate Cake'])

Chocolate Cake        0     1
Chocolate Coffee
0                 65802  2962
1                  2933  3303

In [22]:
item_1='Chocolate Coffee'
item_2='Chocolate Cake'

In [24]:
item_1_c=selection[item_1]==1
item_2_c=selection[item_2]==1

In [25]:
print(selection.groupby([item_1_c,item_2_c]).count())

                                 Chocolate Cake  Chocolate Coffee
Chocolate Coffee Chocolate Cake
False            False                    65802             65802
                 True                      2962              2962
True             False                     2933              2933
                 True                      3303              3303

In [27]:
f=selection.groupby([item_1_c,item_2_c]).count()

f00=f[item_1][0][0]
f01=f[item_1][0][1]
f10=f[item_2][1][0]
f11=f[item_2][1][1]

f1p=f11+f10
fp1=f11+f01
f0p=f01+f00
fp0=f10+f00

print(f1p)
print(fp1)
print(f0p)
print(fp0)

6236
6265
68764
68735

In [28]:
cake_coefficeint=((f11*f00)-(f01*f10))/math.sqrt(f1p*fp1*f0p*fp0)
cake_coefficeint

0.48556649252787681

In [29]:
confidence_Coffee_to_Cake=f11/(f11+f01)
confidence_Coffee_to_Cake

0.52721468475658417

In [54]:
import numpy as np
import scipy

from scipy.stats.stats import pearsonr

Rdata=pd.read_csv('75000-out2-binary.csv')
#Rdata.columns

df=pd.DataFrame(data=Rdata,columns=['Chocolate Coffee','Chocolate Cake'])
df.head()


Chocolate_Coffee=np.array(df['Chocolate Coffee'])
Chocolate_Cake=np.array(df['Chocolate Cake'])

print (pearsonr(Chocolate_Coffee,Chocolate_Cake))

print (np.corrcoef(Chocolate_Coffee,Chocolate_Cake))
#print(df)

(0.48556649252787693, 0.0)
[[ 1.          0.48556649]
 [ 0.48556649  1.        ]]